/***** Card ********/

.card-plan {
    background-color: #f4f4f4;
    border: 1px solid #E0E0E0;
    border-radius: 7px;
    letter-spacing: -0.5px;
    padding: 5px;
    padding-left: 12px;
    margin-top: 10px;
}
.card-tittle {
    font-family: "Arial-bold";
    font-size: 12.5px;
    font-weight: 400;
    color: #0596D0;
    position:relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.card-message {
    font-family: "Arial";
    font-weight: 400;
    font-size: 12px;
    color: #646464;
}
.card-message .plus{
    font-weight: 800;
}
.card-cost {
    font-family: "Arial-bold";
    font-weight: 800;
    font-size: 13px;
    color: #F86400;
    padding-top: 5px;
}
.card-cost.dolar:before{
    content: '$ ';
}
.card-cost.soles:before{
    content: 'S/. ';
}
.card-cost + .card-message {
    padding-bottom: 5px;
}
.button-card {
    background-color: #F86400;
    font-size: 13px;
    min-width: 75%;
    margin-bottom: 6px;
}
.card-section {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.card-section:nth-child(1) {
    width: calc(31.333% - 4px);
    border-right: 1px solid #E0E0E0;
    text-align: left;
    height: 48px;
}
.card-section:nth-child(2) {
    width: calc(43.333% - 4px);
}
.card-section:last-child {
    border-left: 1px solid #E0E0E0;
    border-right: none;
    width: calc(25.333% - 4px);
    /*padding-left: 6px;*/
}
/***** Card viajes ********/
.pais{
    padding-left: 31px;
    height: 31px;
    width: 31px;
    background-image: url('../../../img/cotizadores/flags.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}
 
.localidad1 {
  background-position: -12px 0;
}
.localidad2 {
  background-position: -75px 0;
}
.localidad3 {
  background-position: -137px 0;
}
.localidad4 {
  background-position: -199px 0;
}
.localidad5 {
  background-position: -261px 0;
}
.localidad6 {
  background-position: -324px 0;
}
.localidad7 {
  background-position: -386px 0;
}
.localidad8 {
  background-position: -448px 0;
}









/***** Card Responsive********/
@media screen and (min-width:35.5em) {
    .card-cost {
        font-size: 21px;
    }
    .card-tittle {
        font-size: 17px;
    }
}
@media screen and (min-width:48em) {
    .card-section {
        display: block
    }
    .card-section:nth-child(1),
    .card-section:nth-child(2),
    .card-section:last-child {
        width: 100%;
        border: none;
        border-bottom: 1px solid #E0E0E0;
    }
    .card-section:last-child{
        border: none;
    }
    .card-tittle {
        text-align: center;
        padding: 10px 0px;
    }
    .card-message {
        padding: 8px 0px;
    }
    .card-cost{
        padding-top: 10px;
        color: #646464;
    }
    .card-cost.dolar:before{
        content: '$USD ';
    }
    .card-cost.soles:before{
        content: 'S/. ';
    }
    .card-cost + .card-message {
        padding-top: 0px;
    }
}
@media screen and (min-width:64em) {
    .card-tittle {
        font-size: 17px;
    }
}
@media screen and (min-width:80em) {}
@media screen and (max-width:48em) {
    .card-plan {
        cursor: pointer;
    }
}





/*
@media screen and (min-width:35.5em) { 568px
}
@media screen and (min-width:48em) { 768px
}
@media screen and (min-width:64em) { 1024px
}
@media screen and (min-width:80em) { 1280px
}



@media screen and (max-width:calc(80em - 1px)) {
}
@media screen and (max-width:calc(64em - 1px)) {
}
@media screen and (max-width:calc(48em - 1px)) {
}
@media screen and (max-width:calc(35.5em - 1px)) {
}

*/