/***** Resets ********/
@import url(reset/pure-base.css);

/***** Grid system ********/
@import url(grid/grids.css);
@import url(grid/grids-responsive.css);

/***** Fonts ********/
@import url(font/font.css);


/***** Css general ********/
*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
}



.deducible-group-half {
	width: 100%;
	display: block;
	vertical-align: middle;
}
.deducible_resultado {
	width: 50%;
	display: inline-block; 
}
.plan-header > i{
	text-align: right;
}
.icon-titular {
	background-image: url('../../../img/cotizadores/titular.png');
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.icon-titular-modal {
	background-image: url('../../../img/cotizadores/titular.png');
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 9px;
}
.icon-conyuge {
	background-image: url('../../../img/cotizadores/conyugue.png');
    display: inline-block;
    width: 13px;
    height: 16px;
    margin-right: 5px;
}
.icon-conyuge-modal {
	background-image: url('../../../img/cotizadores/conyugue.png');
    display: inline-block;
    width: 13px;
    height: 16px;
    margin-right: 5px;
    margin-top: 9px;
}
.icon-dependiente {
	background-image: url('../../../img/cotizadores/dependiente.png');
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 5px;
}
.icon-dependiente-modal {
	background-image: url('../../../img/cotizadores/dependiente.png');
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 5px;
    margin-top: 9px;
}
div.asegurado {
	margin-right: 40px;
	padding: 2px;
	display: inline-block;
}
.view-cotizacion {
	background-image: url('../../../img/cotizadores/view.png');
	width: 22px;
	height: 22px;
	float: right;
	margin-top: 30px;
	margin-right: 15px;
}
.close-cotizacion {
	background-image: url('../../../img/cotizadores/close.png');
	width: 22px;
	height: 22px;
	float: right;
	margin-top: 30px;
	margin-right: 15px;
}
.deducible-resultado-header{
	text-align: center;
	background-color: rgb(244,244,244);
	width: 100%;
	border-style: groove;
	border-width: 1px;
	border-color: rgb(224,224,224);
	margin-top: -1px;
}
.remove-dependiente {
	/*background-image: url('../../../img/cotizadores/close.png');
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    cursor: pointer;
    */
    width: 21px;
    height: 21px;
    content: 'x';
    border-radius: 100%;
    color: #FFF;
    background-color: #F86400;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    cursor: pointer;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}
.remove-dependiente:after {
    content: '+';
    border: 0;
    font-size: 20px;
    left: 50%;
	top: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.icon-cobertura {
	display: inline-block ;
	width: 33.3%;
	text-align: center;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}

@media screen and (min-width:35.5em) {
	.view-cotizacion , .close-cotizacion{
		margin-top: 11px;
	}
	.icon-cobertura {
		display: inline-block ;
		width: 16.66%;
		text-align: center;
	}

}
@media screen and (min-width:48em) {
.deducible-group-half {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
}
@media screen and (min-width:64em) {
    .general-container {
        width: 990px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
}
@media screen and (min-width:80em) {

}

.cobertura {
    border-top: -1px;
}
.cobertura-iconos {
	padding: 10px 20px;
}
hr#hr_titular_dependientes {
	margin-top: 15px;
	margin-bottom: 0px;
}
@media screen and (max-width: 35.5em){
	.view-cotizacion, .close-cotizacion {
		margin-top: -12px;
	}
	.deducible-resultado-header {
		padding-left: 20px;
    	padding-right: 20px;
	}
}
input.dependiente {
	font-size: 16px;
    width: 50px;
}